In [32]:
f=open('result2.txt', 'r')
cnt = 0
filt = []
layer = []
drop = []
acc = []
loss = []
iou = []

for line in f.readlines():
    if cnt % 10 == 0:
        filt.append(int(line[:-1]))
    elif cnt % 10 == 1:
        layer.append(int(line[:-1]))
    elif cnt % 10 == 2:
        drop.append(int(line[:-1]))
    elif cnt % 10 == 3:
        acc.append(float(line[:-1]))
    elif cnt % 10 == 4:
        loss.append(float(line[:-1]))
    elif cnt % 10 == 5:
        iou.append(float(line[:-1]))
    cnt += 1
f.close()

In [34]:
filt[:3], layer[:3], drop[:3], acc[:3], loss[:3], iou[:3]

([1, 1, 1],
 [2, 2, 2],
 [2, 3, 4],
 [0.940957248210907, 0.8213048577308655, 0.940957248210907],
 [1.587800145149231, 1.5653338432312012, 1.5620384216308594],
 [0.045911312103271484, 0.04635727033019066, 0.04577472433447838])

In [40]:
import pandas as pd

df2 = pd.DataFrame()
df2['Filter'] = filt
df2['Layer'] = layer
df2['Drop-out'] = drop
df2['Accuracy'] = acc
df2['Loss'] = loss
df2['IOU'] = iou
df2.head()

   Filter  Layer  Drop-out  Accuracy      Loss       IOU
0       1      2         2  0.940957  1.587800  0.045911
1       1      2         3  0.821305  1.565334  0.046357
2       1      2         4  0.940957  1.562038  0.045775
3       1      2         5  0.940957  1.553237  0.045725
4       1      2         6  0.940846  1.496859  0.045383

In [41]:
f=open('result3.txt', 'r')
cnt = 0
filt = []
layer = []
drop = []
acc = []
loss = []
iou = []

for line in f.readlines():
    if cnt % 10 == 0:
        filt.append(int(line[:-1]))
    elif cnt % 10 == 1:
        layer.append(int(line[:-1]))
    elif cnt % 10 == 2:
        drop.append(int(line[:-1]))
    elif cnt % 10 == 3:
        acc.append(float(line[:-1]))
    elif cnt % 10 == 4:
        loss.append(float(line[:-1]))
    elif cnt % 10 == 5:
        iou.append(float(line[:-1]))
    cnt += 1
f.close()

In [42]:
import pandas as pd

df3 = pd.DataFrame()
df3['Filter'] = filt
df3['Layer'] = layer
df3['Drop-out'] = drop
df3['Accuracy'] = acc
df3['Loss'] = loss
df3['IOU'] = iou
df3.head()

   Filter  Layer  Drop-out  Accuracy      Loss       IOU
0       2      2         2  0.940957  1.508406  0.045446
1       2      2         3  0.940957  1.504918  0.045423
2       2      2         4  0.940957  1.541525  0.045657
3       2      2         5  0.945002  1.185727  0.056129
4       2      2         6  0.945566  1.195276  0.061267

In [43]:
f=open('result4.txt', 'r')
cnt = 0
filt = []
layer = []
drop = []
acc = []
loss = []
iou = []

for line in f.readlines():
    if cnt % 10 == 0:
        filt.append(int(line[:-1]))
    elif cnt % 10 == 1:
        layer.append(int(line[:-1]))
    elif cnt % 10 == 2:
        drop.append(int(line[:-1]))
    elif cnt % 10 == 3:
        acc.append(float(line[:-1]))
    elif cnt % 10 == 4:
        loss.append(float(line[:-1]))
    elif cnt % 10 == 5:
        iou.append(float(line[:-1]))
    cnt += 1
f.close()

In [44]:
import pandas as pd

df4 = pd.DataFrame()
df4['Filter'] = filt
df4['Layer'] = layer
df4['Drop-out'] = drop
df4['Accuracy'] = acc
df4['Loss'] = loss
df4['IOU'] = iou
df4.head()

   Filter  Layer  Drop-out  Accuracy      Loss       IOU
0       5      2         5  0.940950  1.433361  0.047050
1       6      2         5  0.941335  1.382736  0.045009
2       7      2         5  0.941645  1.380219  0.045362
3       8      2         5  0.947092  1.357534  0.053129
4       9      2         5  0.941465  1.386001  0.044981

In [50]:
f=open('result5.txt', 'r')
cnt = 0
filt = []
layer = []
drop = []
acc = []
loss = []
iou = []

for line in f.readlines():
    if cnt % 10 == 0:
        filt.append(int(line[:-1]))
    elif cnt % 10 == 1:
        layer.append(int(line[:-1]))
    elif cnt % 10 == 2:
        drop.append(int(line[:-1]))
    elif cnt % 10 == 3:
        acc.append(float(line[:-1]))
    elif cnt % 10 == 4:
        loss.append(float(line[:-1]))
    elif cnt % 10 == 5:
        iou.append(float(line[:-1]))
    cnt += 1
f.close()

In [51]:
import pandas as pd

df5 = pd.DataFrame()
df5['Filter'] = filt
df5['Layer'] = layer
df5['Drop-out'] = drop
df5['Accuracy'] = acc
df5['Loss'] = loss
df5['IOU'] = iou
df5.head()

   Filter  Layer  Drop-out  Accuracy      Loss       IOU
0      16      3         4  0.963034  0.516521  0.440775
1      16      3         5  0.964455  0.522396  0.434784
2      17      3         4  0.966822  0.480729  0.440187
3      17      3         5  0.967319  0.437012  0.483047
4      18      3         4  0.214212  7.319826  0.055645

In [52]:
df = pd.concat([df2, df3, df4, df5], ignore_index=True)
df

     Filter  Layer  Drop-out  Accuracy      Loss       IOU
0         1      2         2  0.940957  1.587800  0.045911
1         1      2         3  0.821305  1.565334  0.046357
2         1      2         4  0.940957  1.562038  0.045775
3         1      2         5  0.940957  1.553237  0.045725
4         1      2         6  0.940846  1.496859  0.045383
..      ...    ...       ...       ...       ...       ...
202      22      3         5  0.701984  1.459698  0.092188
203      23      3         4  0.958625  0.562514  0.504254
204      23      3         5  0.209333  7.598250  0.054862
205      24      3         4  0.966966  0.406820  0.531314
206      24      3         5  0.382506  8.144981  0.062908

[207 rows x 6 columns]

In [53]:
df.to_excel('result.xlsx')